/* Font */

@font-face {
  font-family: 'Spinnaker';
  src: url('./assets/fonts/Spinnaker-Regular.woff2') format('woff2'),
    url('./assets/fonts/Spinnaker-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* Restaurant Page */

body {
  font-family: 'Spinnaker', Arial, Helvetica, sans-serif;
  color: #111;
  background-color: #eee;
}

header,
#content {
  padding: 20px;
}

nav ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: end;
  gap: 20px;
}

button {
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}

h1,
h2 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin-bottom: 40px;
}

img {
  width: 50px;
}

p,
.menu-list,
.contact-list {
  margin: 20px auto;
  max-width: 400px;
}

.menu-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 40px;
}

.menu-list li {
  margin-bottom: 10px;
}

.contact-list {
  padding-left: 0;
  list-style: none;
  text-align: center;
}
